.mr10{ margin-right: 10px!important }
.fr{
	float: left;
}
.product_price1{
    float: left;
    line-height: 2.7;
    margin-left: 20px;
}
.xx_fullscreen{
	float: right;
	line-height: 2.7;
}
.ml20{
	margin-left: 20px;
	line-height: 2.4 !important;
}
.mr20{
	margin-right: 20px;
	line-height: 2.4 !important;
}

/*Fixed matrix sidebar, header start*/
.fixedTable{
	max-width: auto;
}
.fixedTable table {
  background-color: white;
  /*width: auto;*/
  /*border: 1px solid;*/
}		
.first_child{
	float: left;
	width: auto;
	padding: 4px;
	border-bottom: 1px dotted #DCDCDC;
	height: 40px;
}
.fixedTable-header {
	/*margin-left: 100px;*/
 	overflow: hidden;
	max-width: 700px;
}
.fixedTable-sidebar {
	float: left;
	width: auto;
 	overflow: hidden;
	max-height: 100px;
}
.fixedTable-header table, .fixedTable-sidebar table, .first_child{
    background-color: #EFEFEF;
	font-weight: bold;
}
.fixedTable-body {
	float: left;
	overflow-x: auto;
	overflow-y: auto;
	max-width: 700px;
	max-height: 100px;
}
.fixedTable table tr td,
.fixedTable table tr th {
	min-width: 100px;
	padding: 4px;
	border-bottom: 1px dotted #DCDCDC;
	height: 40px;
}
/*Fixed matrix sidebar, header end*/
.hover_price {
    display:none;
    position:absolute;
    border:1px solid #DCDCDC;
    width:auto;
    height:auto;
    background: #DCDCDC;
}

