/*Loading start*/
#preloader {display:none; position: fixed; left: 0; top: 0; z-index: 999; opacity:0.8; width: 100%; height: 100%; overflow: visible; background: #333 url('/website_preorder/static/src/img/loading.gif') no-repeat center center; }
/*Lodaing end*/
.mr10{ margin-right: 10px !important }
.fr{
	float: left;
}
.product_price1{
    float: left;
    line-height: 2.7;
    margin-left: 20px;
}
/*.xx_fullscreen{
	float: right;
	line-height: 2.7;
}*/
.ml20{
	margin-left: 20px;
	line-height: 2.4 !important;
}
.mr20{
	margin-right: 20px;
	line-height: 2.4 !important;
}

/*Fixed matrix sidebar, header start*/
.fixedTable{
	max-width: auto;
}	
.first_child{
	float: left;
	width: auto;
	padding: 10px;
	border-bottom: 1px dotted #DCDCDC;
	height: 40px;
}
.fixedTable-header {
 	overflow: hidden;
    background-color: #EFEFEF;
    float: left;
	max-width: 67%;
}
.fixedTable-sidebar {
	float: left;
	width: auto;
 	overflow: hidden;
	max-height: 240px;
}
.fixedTable-header table, .fixedTable-sidebar table, .first_child{
    background-color: #EFEFEF;
	font-weight: bold;
}
.fixedTable-body {
	float: left;
	overflow-x: auto;
	overflow-y: auto;
	max-width: 67%;
	max-height: 240px;
}
.fixedTable table tr td,
.fixedTable table tr th {
	min-width: 100px;
	padding: 4px;
	border-bottom: 1px dotted #DCDCDC;
	height: 40px;
}
/*Fixed matrix sidebar, header end*/
.hover_price {
    display:none;
    position:absolute;
	padding: 6px 12px;
	border-radius: 4px;
    width:auto;
    height:auto;
    color: white;
    background: #428BCA;
    margin: 5px;
}
/*Popup matrix start*/
/*#cart_matrix table thead tr th, #cart_matrix table tbody tr td:nth-child(1){
}
#cart_matrix table tbody tr td:not(:first-child){
	width: auto;
	min-width: 100px;
}
#cart_matrix table thead tr th, #cart_matrix table tbody tr td{
	padding: 5px;
	border: 1px solid #DCDCDC;
}
#cart_matrix .tiptext{
	padding-left: 10px;
}*/
/*Popup matrix end*/

/*Total price, quantities calculations start*/
.right_total, .bottom_total{
	overflow:hidden;
}
.right_total{
	max-height: 240px;
	max-width: 100px;
}
.bottom_total{
	max-width: 67%;
	float: left;
	background-color: #cae3f8;
}
.totalSidebar{
	float: left;
	background-color: #cae3f8;
}
.right_total table tr td,
.totalRighttbar table tr td {
	text-align: center;
	min-width: 80px !important;
}
.right_total table tbody tr td,
.bottom_total table tbody tr td,
.totalSidebar table tbody tr td,
.totalRighttbar table tbody tr td {
	border: none !important;
	background-color: #cae3f8;
}
.bottom_total table tbody tr td,
.totalRighttbar table tbody tr td {
	border-bottom: 1px solid #128470 !important;
}
.totalRighttbar{
	float: left;
	max-width: 100px;
	/*width:60px;*/
}
.header_qty_label{
	float: left;
	padding: 10px;
	height: 40px; 
	background-color: #cae3f8;
	text-align: center;
	min-width: 80px !important;
}
.tableHeader{clear: both;}
.tableBody{clear: both;}
.tableBottom{clear: both;}
.bottom_total table tbody tr td{
}

#middle_column table{ border: 1px solid #ddd; }
#middle_column table th h3,#middle_column table tr h3{ margin: 0 }
#middle_column table td span{ font-size: 18px; }
#middle_column table td,#middle_column table th{ padding: 8px; }
#middle_column table th span{ font-size: 18px; }

/*Total price, quantities calculations end*/

