/*
.creditamount{ position: absolute; bottom: 5px; left: 10px; }
.paymentline{ position: relative; }
*/
.payment-lines .paymentline-delete{ bottom: 0; left: 0; }
.creditamount{ margin: 0; font-size: 13px; }
.wallet-disable{ opacity:0.5}
.pos-rel{ position: relative; }
.pay-full-wallet button {
    width: 150px;
    height: 60px;
    font-size: 18px;
    cursor: pointer;
    text-align:center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    left: 105%;
    bottom: 15%;
    position: absolute;
}


