.product-list a.image-link{ display: block; float: left;  border-radius: 15px; width: 100%; max-width: 276px; margin: 0 20px 0 0;
min-height: 170px; min-width: 276px; padding: 8px 0;}

.product-list a.image-link img{ max-width: 180px;
margin: 0 auto; 
max-width: 500px;
background-color:#28282c;}
.cost-button{
border-radius: 15px;
}
.img
{
min-width: 286px;
min-height: 186px;
border-radius: 25px;
}
.product-list .product-title{ display: block; }
.product-list .product-title a{ display: block; }
.fl{ float: left; }
.cl-both:after{ content:""; display: block; clear: both; }

.city_filter{
    margin-right: 10px;
    margin-top: 8px;
}
.product_filter{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
}
.col-sm-5, .product-icon-desc{
    color: white;
}
.super_dropdown{
    font-weight: normal;
    padding: 6px 6px 6px 12px;
    }
.pagin{
    margin: 0 0 8px 0;
}
.tic_button{
    border: 1px solid #dddddd;
    border-radius: 15px;
    padding: 3px 15px!important
}
.pagin .pull-left{ margin: 0 0 0 10px; }
.pagin button{border-radius: 25px; padding: 3px 15px!important}
.pagin-title{ border: 1px solid #dddddd; border-radius: 5px; margin: 2px 30px 0 0; color:#dddddd; padding: 3px 10px; }

.pos-rel{
    position: relative;
}
.product-icon-desc{
    position: absolute;
    right: 20px;
    left: 20px;
    top: 30px;
}
.oe_event_image{
    width: 100%;
    max-width: 500px;
    border: 3px solid #dddd;
    background:28282c;

}
.oe_event_image img{
    width: 100%;
    height: auto;
    background-color:#28282c;
    color: white;
}

body{
    background-color:#28282c;
    color: white;
}
.top_menu{
    background-color:#28282c;
}
.container-move{
    background-color:#28282c;
    color: white;
}
#wrapwrap{
    background-color:#28282c;
    color: white;
}
.navbar{
    background:#000;
}

#website-top-navbar{
    background:#000;
    color: white;
}
.navbar navbar-default navbar-static-top{
    background:#000;
    color: white;
}
#super-class{
    background-color: #000;
    border-color: #000;
}
.row mt8 {
    background-color:#28282c;
}

.collapse{
background-color:#191919;
}
.breadcrumb{
    background-color:#28282c;
    color: white;
}
#wrapwrap .navbar,.navbar navbar-inverse  {
    background-color:#000;
    color: white;
}
#wrapwrap footer{
background-color:#28282c;
color: white;
}
footer{
background-color:#28282c;
}
.nav > li{
background-color:#000;
color: white;
}
header a.navbar-brand.logo{
background-color:#000;
color: white;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
background-color:#000;
color: white;
}
.navbar-default{
border-color:#000;
color: white;
}
.align{
padding-bottom:10px;
}
