/*Loading start*/
#preloader_pre_order {
   background-color: #fff;
   width: 100%;
   height: 100%;
   position: fixed;
   z-index: 999;
   text-align:center;
   display: none;
}
/*Lodaing end*/
.mr10{ margin-right: 10px !important }
.fr{
    float: left;
}
.product_price1{
    float: left;
    line-height: 2.7;
    margin-left: 20px;
}
/*.xx_fullscreen{
    float: right;
    line-height: 2.7;
}*/
.ml20{
    margin-left: 20px;
    line-height: 2.4 !important;
}
.mr20{
    margin-right: 20px;
    line-height: 2.4 !important;
}

/*Fixed matrix sidebar, header start*/
.fixedTable{
    max-width: auto;
}   
.first_child{
    float: left;
    width: auto;
    padding: 10px;
    border-bottom: 1px dotted #DCDCDC;
    height: 40px;
}
.fixedTable-header {
    overflow: hidden;
    background-color: #EFEFEF;
    float: left;
    max-width: 50%;
}
.fixedTable-sidebar {
    float: left;
    width: auto;
    overflow: hidden;
    max-height: 240px;
}
.fixedTable-header table, .fixedTable-sidebar table, .first_child{
    background-color: #EFEFEF;
    font-weight: bold;
}
.fixedTable-body {
    float: left;
    overflow-x: auto;
    overflow-y: auto;
    max-width: 50%;
    max-height: 240px;
}
.fixedTable table tr td,
.fixedTable table tr th {
    min-width: 100px;
    padding: 4px;
    border-bottom: 1px dotted #DCDCDC;
    height: 40px;
}
/*Fixed matrix sidebar, header end*/
.hover_price {
    display:none;
    position:absolute;
    padding: 6px 12px;
    border-radius: 4px;
    width:auto;
    height:auto;
    color: white;
    background: #428BCA;
    margin: 5px;
}
/*Popup matrix start*/
/*#cart_matrix table thead tr th, #cart_matrix table tbody tr td:nth-child(1){
}
#cart_matrix table tbody tr td:not(:first-child){
    width: auto;
    min-width: 100px;
}
#cart_matrix table thead tr th, #cart_matrix table tbody tr td{
    padding: 5px;
    border: 1px solid #DCDCDC;
}
#cart_matrix .tiptext{
    padding-left: 10px;
}*/
/*Popup matrix end*/

/*Total price, quantities calculations start*/
.right_total, .bottom_total{
    overflow:hidden;
}
.right_total{
    max-height: 240px;
    /*max-width: 100px;*/
}
.bottom_total{
    max-width: 50%;
    float: left;
    background-color: #cae3f8;
}
.totalSidebar{
    float: left;
    background-color: #cae3f8;
}
.right_total table tr td,
.totalRighttbar table tr td {
    text-align: center;
    min-width: 80px !important;
}
.right_total table tbody tr td,
.bottom_total table tbody tr td,
.totalSidebar table tbody tr td,
.header_totals_label table thead tr th,
.totalRighttbar table tbody tr td {
    border: none !important;
    background-color: #cae3f8;
}
.bottom_total table tbody tr td,
.totalRighttbar table tbody tr td {
    border-bottom: 1px solid #128470 !important;
}
.totalRighttbar{
    float: left;
    max-width: 200px!important;
    /*width:60px;*/
}
/*.header_qty_label{
    float: left;
    padding: 10px;
    height: 40px; 
    background-color: #cae3f8;
    text-align: center;
    min-width: 80px !important;
}*/
.tableHeader{clear: both;}
.tableBody{clear: both;}
.tableBottom{clear: both;}
.bottom_total table tbody tr td{
}
/*Total price, quantities calculations end*/

#middle_column table{ border: 1px solid #ddd; }
#middle_column table th h3,#middle_column table tr h3{ margin: 0 }
#middle_column table td span{ font-size: 18px; }
#middle_column table td,#middle_column table th{ padding: 8px; }
#middle_column table th span{ font-size: 18px; }


#middle_column table tr th h3 span{ font-size: 17px; }
#middle_column table tr td,#middle_column table tr th{ padding: 5px!important; }
#middle_column table tr td span{ font-size: 15px; }
#middle_column table .btn{ padding: 2px 5px; font-size: 14px; }
/*
.matrix_confirm_qty{ position: fixed;
right: 95px;
background: #ffffff;
z-index: 999999; }
*/

.pos-fixed{
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #fff;
    left: 0;
    top: 0;
    padding: 0 180px 0 25PX;
}
.products_pager.pos-fixed #confirm-btn,.products_pager.pos-fixed #reset-btn{
    /*display: none;*/
}

#loading {
   background-color: #fff;
   width: 100%;
   height: 100%;
   position: fixed;
   z-index: 999;
   text-align:center;
}
#demo .right_total{ max-width: 200px; }
#demo .header_totals_label th,#demo .header_totals_label td{ width: 50%; max-width: 100px; text-align: center; }

.div-red-color {color: #A80000;}
.div-gray-color {color: #ADADAD;}
.matrix_confirm_qty span{ font-weight: bold; }
.loading-content-wrapper{  position: absolute; top: 27%; width: 100%; text-align: center; }
.loading-content-wrapper p{ color: #5EB2EB; }

.totalSidebar table tr td span strong{ font-size: 14px!important; }
.tableHeader .first_child{ padding: 0; }

.totalRighttbar table tr td,.totalRighttbar table tr th,.header_totals_label table tr th,.header_totals_label table tr td,.right_total table tr th,.right_total table tr td{ width: 100px!important; }

.categories_title {
	margin: 0 0 5px 0;
	width: 100%;
	display: block;
	font-size: 18px;
}

/*.close-btn{ display: block; width: 20px; height: 20px; background: #ff0000; border-radius: 50%; color: #ffffff; position: absolute; right: -8px; top: -9px; z-index: 999999; cursor: pointer; }*/

