.matrix {
    border-collapse: collapse;
    width: auto;
/*
    overflow-x: auto;
*/
    
}
.matrix thead {
    width: auto;
    background-color: #EFEFEF;
}
.matrix thead, .matrix tbody {
    display: block;
}
.matrix tbody {
    /*overflow-y: scroll;*/
/*
    overflow-x: hidden;
*/
    /*height: 150px;*/
    height: auto;
    max-height: 150px;
/*
    overflow-y: auto;
}
*/
.matrix td, th {
    min-width: 80px;
    height: 25px;
    text-align: left;
    border-bottom: 1px solid #DCDCDC;
}

/* New Styles */
.matrix thead tr th:first-child,
.matrix tbody tr td:first-child{
    position:relative;
    z-index:10;
    background-color:#EFEFEF;
}

.hover_price {
    display:none;
    position:absolute;
    border:1px solid #DCDCDC;
    width:auto;
    height:auto;
    background: #DCDCDC;
}
