.mr10{ margin-right: 10px!important }
.fr{
    float: left;
}
.product_price1{
    float: left;
    line-height: 2.7;
    margin-left: 20px;
}
.xx_fullscreen{
    float: right;
    line-height: 2.7;
}
.ml20{
    margin-left: 20px;
    line-height: 2.4 !important;
}
.mr20{
    margin-right: 20px;
    line-height: 2.4 !important;
}

/*Fixed matrix sidebar, header start*/
.fixedTable{
    max-width: auto;
}
.fixedTable table {
  background-color: white;
  /*width: auto;*/
  /*border: 1px solid;*/
}       
.first_child{
    float: left;
    width: auto;
    padding: 4px;
    border-bottom: 1px dotted #DCDCDC;
    height: 40px;
}
.fixedTable-header {
    /*margin-left: 100px;*/
/*
    overflow: hidden;
*/
    max-width: 75%;
}
.fixedTable-sidebar {
    float: left;
    width: auto;
/*
    overflow: hidden;
*/
    max-height: 240px;
}
.fixedTable-header table, .fixedTable-sidebar table, .first_child{
    background-color: #EFEFEF;
    font-weight: bold;
}
.fixedTable-body {
    float: left;
    max-width: 75%;
    max-height: 240px;
}
.fixedTable table tr td,
.fixedTable table tr th {
    min-width: 100px;
    padding: 4px;
    
/*
    height: 40px;
*/
}
/*Fixed matrix sidebar, header end*/
.hover_price {
    display:none;
    position:absolute;
    border:1px solid #DCDCDC;
    width:auto;
    height:auto;
    background: #DCDCDC;
}
/*Popup matrix start*/
#cart_matrix {
    right: inherit;
    left: inherit;
}
#cart_matrix .modal-dialog{
    width: auto;
}
#cart_matrix table thead tr th, #cart_matrix table tbody tr td:nth-child(1){
    background: #DCDCDC;
}
#cart_matrix table thead tr th, #cart_matrix table tbody tr td{
    padding: 5px;
    border: 1px solid #DCDCDC;
}
#cart_matrix .tiptext{
    padding-left: 10px;
}
/*Popup matrix end*/

/*Total price, quantities calculations start*/
.right_total, .bottom_total{
/*
overflow:hidden;
*/
}
.right_total{
max-height: 240px;
}
.bottom_total{
max-width: 75%;
}
.totalSidebar{
    float: left;
}
.right_total table tr td,
.bottom_total table tr td,
.totalSidebar table tr td {
    border: none !important;
}
.right_total table tbody tr td span,
.bottom_total table tbody tr td span,
.totalSidebar table tbody tr td span {

}
/*Total price, quantities calculations end*/
